<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ReactiveCocoa实例之颜色选择器.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0471D3431F13575E002A9F3F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0471D35C1F13575F002A9F3F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0471D3671F13575F002A9F3F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
